#board {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  .red {
    background-color: red;
  }
  .grey {
    background-color: grey;
  }
}
.tile {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .black {
    background-color: black;
  }
  .white {
    background-color: white;
  }
}
.pawn {
  // background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 10px;
}